*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
}
ul{
    list-style-type: none;
}
.container{
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
/* sm */
@media  (min-width: 768px) 
{
    .container{
        width: 750px;
    }
}
/* md */
/* sm */
@media  (min-width: 768px) 
{
    .container{
        width: 750px;
    }
}
/* md */
@media  (min-width: 992px) 
{
    .container{
        width: 970px;
    }
}
/* lg */
@media  (min-width: 1200px) 
{
    .container{
        width: 1170px;
    }
}
@media  (min-width: 1380px) 
{
    .container{
        width: 1330px;
    }
}


:root{
    --main-color : #767268;
    --bg-color:rgb(243, 244, 246);
    --section-padding: 100px;
    --main-duration: 0.3s;
}

.header-text{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
}

/*********************header****************/

header{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 110px;
}
header nav .toggle-menu{
    font-size: 17px;
}
@media(min-width : 768px){
    header nav .toggle-menu{
        display: none;
    }
}
header nav ul{
    display: flex;
}
header .logo{
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: 700;
}
header nav ul a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 40px 20px;
    color: var(--main-color)
}
@media (max-width : 767px){
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover 
    + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
    header nav .toggle-menu 
    + ul li a{
        padding: 15px;
        color: white;
    }
}

/***************landing***********/
.landing .container{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../image/landing.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.landing .head{
    color: white;
    position: absolute;
    top: 15%;
    left: 5%;
}
.landing .head h1{
    font-size: 60px;
    margin-bottom: 5px;
}
.landing .booking{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffb3;
    position: absolute;
    width: 90%;
    bottom: -7%;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 30px;
    border-radius: 15px;
    row-gap: 10px;
}
.landing .booking .box{
    width: 22%;
    display: flex;
    flex-direction: column;
}
.landing .booking input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    outline: none;
}
.landing .booking label{
    position: absolute;
    font-weight: 500;
    transition: var(--main-duration);
}

.booking .box input:focus + label {
    top: 10px;
    font-size: 13px;
}
.landing .booking i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2c3855;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-duration);
}
.landing .booking i:hover{
    background-color: #435681;
}
@media(max-width : 992px){
    .landing .booking{
        flex-direction: column;
        align-items: flex-start;
    }
    .landing .booking .box{
        width: 100%;
    }
    .landing .head h1{
        font-size: 50px;
    }
}
.booking .box span{
    font-size: 13px;
    padding-top: 5px;
    color: var(--main-color);
}

/***************hotels*************/
.hotels{
    padding: var(--section-padding) 0px;
}
.hotels .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}
.hotels .hotel{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}
.hotels .hotel img{
    width: 100%;
}
.hotels .hotel .photo{
    position: relative;
    overflow: hidden;
}
.hotels .hotel .photo .layout{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.1;
    transition: var(--main-duration);
}
.hotels .hotel .photo .layout:hover{
    opacity: 0;
}
.hotel .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.hotel > span {
    color: var(--main-color);
    padding: 10px;
    font-size: 15px;
}
/***************client***************/
.clients{
    padding: var(--section-padding) 0px;
    background-color: var(--bg-color);
    text-align: center;
}
.clients .container{
    display: flex;
    flex-wrap: wrap;
}
.clients .container .client{
    padding: 10px;
    position: relative;
}
@media  (min-width: 768px) 
{
    .clients .container .client{
        flex-basis: 50%;
    }
}
@media  (min-width: 1199px) 
{
    .clients .container .client{
        flex-basis: 33%;
    }
}
.client .inner{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    height: 180px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.clients .client p{
    font-size: 18px;
    line-height: 1.3;
}
.clients .container .client img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 5px solid #f3f4f6;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: -20%;
    transition: var(--main-duration);
    padding: 2px;
}
.clients .container .client img:hover{
    top: -25%;
}
/*******************discount***************/
.discount{
    padding: var(--section-padding) 0px;
}
.discount .container{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
    border-radius: 15px;
    text-align: center;
}
.discount .container p{
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1.5;
}
.discount .container h2{
    font-size: 40px;
    font-weight: 700;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}
.discount .container button{
    padding: 10px 30px;
    border: none;
    background-color: #2c3855;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.discount .container button:hover {
    background-color: #435681;
}
/******************footer******************/
footer{
    padding: var(--section-padding) 0px;
    background-color: var(--bg-color);
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer .container .item:first-child {
    width: 30%;
}
@media  (max-width: 767px) 
{
    footer .container{
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
    }
    footer .container .item:first-child {
        width: 80%;
        margin: auto;
    }
}
footer .item h4{
    font-size: 25px;
    padding-bottom: 20px;
}
footer .item p{
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    transition: var(--main-duration);
}
footer .item ul a{
    color: var(--main-color);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: var(--main-duration);
}
footer .item ul a:hover,footer .item p:hover{
    color: black;
    cursor: pointer;
}
footer .copyright{
    font-size: 16px;
    color: var(--main-color);
    margin: 4
    0px 20px 0 0px;
    display: flex;
    justify-content: end;
}
@media  (max-width: 768px) {
    footer .copyright{
        justify-content: center;
        margin-top: 30px;
    }
}